USE [QC]
GO
/****** Object:  StoredProcedure [dbo].[NAT_PROC_ODS_FAST_ODOO_Queued_Jobs_Alert]    Script Date: 13/04/2026 8:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Procedimiento_alertas] as


BEGIN

    SET NOCOUNT ON;

    DECLARE @variableuno INT;
	DECLARE @variabledos INT;
	
    -- Ejecutamos comprobación
    SELECT 
        @variableuno= SUM(ISNULL(variableuno,0)),
        @variabledos= SUM(ISNULL(variabledos,0))
    FROM ODS.dbo.Tablauno
	WHERE data_entry = (
    SELECT MAX(data_entry)
    FROM ODS.dbo.Tablauno
);

    -- Si no hay resultados, salir sin hacer nada
 IF @variableuno<= 100 AND @variabledos<=50
 RETURN;

	DECLARE @message nvarchar(MAX)
	
	set @message = 'Se han generado ' + CAST(@variableuno AS VARCHAR(20)) + ' variableuno ' + CAST(@variabledos AS VARCHAR(20))+ ' variabledos. Revisad el report';
  
  print @message 

    -- Si hay resultados, envía correo
    EXEC msdb.dbo.sp_send_dbmail
        @profile_name = 'perfil_configurado_email',         -- tu perfil configurado en Database Mail
        @recipients = 'emails_diversos',       -- destinatario
        @subject = 'mensajito de alerta',
        @body = @message,
        @body_format = 'HTML';

END;

